
<div class="card">
    <div class="card-header">
        Clients
    </div>
    <div class="card-body">
        <div *ngIf="searchFormGroup">
            <!--afficher le formulaire seulement si searchformgroup est creée et initialisé!-->
        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearch()" >
            <div class="input-group">
                <label class="input-group-text">Keyword : </label>
                <input type="text" formControlName="keyword" class="form-control">
                <button class="btn bg-info"> <i class="bi bi-search"></i> </button>
            </div>
        </form>
        </div>

        <ng-container *ngIf="clients$ | async; else loadingOrErrorAlert">


        </ng-container>

        <ng-template #loadingOrErrorAlert>
            <ng-container *ngIf="errorObj; else loading">

            </ng-container>

            <!-- loading-->
            <ng-template #loading>
            </ng-template>
        </ng-template>
        <table class="table">


        <thead >
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
    </tr>
    </thead>



    <tbody>

    <tr *ngFor="let c of clients$ | async">
        <th scope="row"  >{{c.id}}</th>
        <td colspan="2">{{c.nom}}</td>
    </tr>

    </tbody>





</table>

</div>
</div>
