<div class="container">
    <div class="card col-md-6 offset-3 mt-5">

        <div class="card-header">Nouveau Client</div>
        <div class="card-body">
            <form [formGroup]="AddClientFormGroup" (ngSubmit)="handleSaveClient()">
                <fieldset disabled>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">ID</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="ID">
                    </div>
                </fieldset>


                <div class="mb-3">
                    <label class="form-label">Nom:</label>
                    <input type="text" class="form-control" formControlName="nom" placeholder="Enterer le nom" name="nom">

                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>

            </form>

        </div>
    </div>



</div>
